#blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
  position: relative;
  /* background: linear-gradient(90deg, #08031F, #271A56); */
  background-image: url('../images/background5.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
