#blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
  position: relative;
  background-image: url('../images/background3.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
