.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
  color: #2d3436;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}


.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  width: 50%;
  height: 100%;
}


.contact-parent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 450px;
  border: 1px solid #deac70;
  background-color: rgba(222, 172, 112, 0.1);
  z-index: 2;
  border-radius: 300px;
}

.contact-parent:hover {
  margin-left: 50px;
  margin-top: 50px;
  background-color: transparent;
  transition: 0.35s;
}

.contact-parent:not(:hover) {
  margin-left: 0;
  margin-top: 0;
  transition: 0.35s;
}

.contact-child {
  position: relative;
  height: 450px;
  width: 450px;
  border: 1px solid #deac70;
  margin-left: 50px;
  margin-top: 50px;
  z-index: 1;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.4);
  border-radius: 300px;
}


@media (orientation: portrait) {
  .contact-container {
    flex-direction: column-reverse;
    height: 900px;
  }

  .contact {
    height: 50%;
  }

  .contact-details {
    height: 50%;
    padding: 0px;
  }

  .contact-parent {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
  }

  .contact-parent:hover {
    margin-left: 0px;
    margin-top: 0px;
  }

  .contact-child {
    display: none;
  }

}

@media (orientation: landscape) and (max-width: 768px) {
  .contact-container {
    flex-direction: column-reverse;
    height: 900px;
  }

  .contact {
    height: 50%;
  }

  .contact-details {
    padding: 0px;
    height: 50%;
  }

  .contact-parent {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
  }

  .contact-parent:hover {
    margin-left: 0px;
    margin-top: 0px;
  }

  .contact-child {
    display: none;
  }

}
