#design-portfolio-container {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(90deg, #08031F, #271A56);
}

.container-top {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  background-color: #271A56;
  overflow: hidden;
}

.container-bottom-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container-bottom-image1 {
  height: 70%;
  width: 40%;
  background-image: url('../images/site1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #deac70;
  box-shadow: 0px 0px 30px 10px rgba(222, 172, 112, 0.9);
  margin-top: 0px;
}

.container-bottom-image2 {
  height: 70%;
  width: 40%;
  background-image: url('../images/site2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #deac70;
  box-shadow: 0px 0px 30px 10px rgba(222, 172, 112, 0.9);
  margin-top: 20px;
}


/* /// Media Queries /// */

@media (orientation: portrait) {
  #design-portfolio-container {
    height: 300px;
    justify-content: center;
    justify-content: space-around;
  }
  .container-top {
    text-align: center;
    height: 100%;
  }

  .container-bottom {
    display: none;
  }

  .container-bottom-image1 {
    width: 45%;
    height: 70%;
    box-shadow: none;
  }

  .container-bottom-image2 {
    width: 45%;
    height: 70%;
    box-shadow: none;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  #design-portfolio-container {
    height: 300px;
    justify-content: center;
    justify-content: space-around;
  }
  .container-top {
    text-align: center;
    height: 100%;
  }

  .container-bottom {
    display: none;
  }

  .container-bottom-image1 {
    width: 45%;
    height: 70%;
    box-shadow: none;
  }

  .container-bottom-image2 {
    width: 45%;
    height: 70%;
    box-shadow: none;
  }
}
