.development-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
  color: #2d3436;
}

.development {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.development p {
  font-size: 1.25rem;
}

.development-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.development-theater-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 550px;
  width: 550px;
}

.development-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #0984e3;
  background-color: rgba(9, 132, 227, 0.1);
  border-radius: 100px;
  height: 30%;
  width: 30%;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.4);
}

.development-card h1 {
  font-size: 1.5rem;
}

.development-theater-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* ///  Media Queries ///*/



@media (orientation: portrait) {
  .development-container {
    flex-direction: column-reverse;
    height: 700px;
  }

  .development {
    width: 100%;
  }

  .development-details {
    display: none;
  }
}

/* @media screen and (max-width: 375px) {
  .development-container {
    flex-direction: column-reverse;
    height: 700px;
  }

  .development {
    width: 100%;
  }

  .development-details {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .development-container {
    flex-direction: column-reverse;
    height: 700px;
  }

  .development {
    width: 100%;
  }

  .development-details {
    display: none;
  }
} */

@media screen and (max-width: 768px) {
  .development-container {
    flex-direction: column-reverse;
    height: 700px;
  }

  .development {
    width: 100%;
  }

  .development-details {
    display: none;
  }
}
