.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: #fff;
  background: linear-gradient(90deg, #0984e3, #b007a8, #32ab9c, #deac70 );
  background-size: 400% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;

}

.footer p {
  margin: 5px;
}

.footer-social-icons {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80px;
}

.footer-social-icons img {
  height: 2.5rem;
  width: 2.5rem;
}

#attribute {
  font-size: 0.5rem;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (orientation: portrait) {
  .footer {
    height: 200px;
    background: #fff;
    color: #deac70;
  }

  .footer-social-icons {
    display: flex;
  }
}



@media (orientation: landscape) and (max-width: 768px) {
  .footer {
    height: 200px;
    background: #fff;
    color: #deac70;
  }

  .footer-social-icons {
    display: flex;
  }
}
