#nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  background: linear-gradient(90deg, #0984e3, #b007a8, #32ab9c, #deac70);
  background-size: 400% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
  overflow: hidden;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.scrolled {
  margin-top: 0;
  position: fixed;
  top: 0;
  background: #2d3436;
}

.content-container {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logo-side {
  height: 80px;
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.links-side {
  height: 80px;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  padding-right: 20px;
  color: #fff;
  overflow: hidden;
}

.links-scrolled {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  padding-right: 20px;
  color: #fff;
}



.mobile-links {
  display: none;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  height: 210px;
  width: 100%;
  list-style-type: none;
}


.mobile-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 40px;
  height: 40px;
  /* background-image: url('../images/hamburger.svg'); */
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
}


/* ///// Media Queries /////// */

@media (orientation: portrait) {
  .links-side {
    justify-content: flex-end;
  }

  .links-side a {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  .mobile-links a {
    cursor: pointer;
  }
}


@media (orientation: landscape) and (max-width: 768px) {
  .links-side {
    justify-content: flex-end;
  }

  .links-side a {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  .mobile-links a {
    cursor: pointer;
  }
}
