#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
  position: relative;
}

/* @media (orientation: portrait) {
  #info {
    background-size: auto 75%;
  }
} */
