.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 800px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.intro-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.intro-logo {
  display: none;
  height: 75%;
  width: 75%;
  background-image: url('../images/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.intro-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}


.intro-message {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: 50%;
}

.top-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  font-size: 2rem;
}

.middle-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 70px;
  font-size: 0.85rem;
}

.middle-message-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 70px;
  font-size: 1.5rem;
}


.bottom-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  font-size: 2rem;
}



/* //////// Media Queries //////// */

@media (orientation: portrait) {
  .intro-container {
    /* background-image: url("../images/hero_background_mobile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .intro {
    width: 100%;
    text-align: center;
  }

  .intro-content {
    flex-direction: column;
      height: 100%;
  }

  .intro-logo {
    display: flex;
  }

  .intro-detail {
    width: 100%;
  }

  .intro-message {
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
  }

  .intro-message h2 {
    font-size: 2.5rem;
    margin: 0;
  }

  .bottom-message {
    width: 100%;
  }

}

@media (orientation: landscape) and (max-width: 768px) {
  .intro-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .intro {
    width: 100%;
    text-align: center;
  }

  .intro-content {
    flex-direction: column;
      height: 100%;
  }

  .intro-logo {
    display: flex;
  }

  .intro-detail {
    width: 100%;
  }

  .intro-message {
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
  }

  .intro-message h2 {
    font-size: 2.5rem;
    margin: 0;
  }

  .bottom-message {
    width: 100%;
  }
}
