html, body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  overflow-x: hidden;
}

hr {
  width: 20%;
  height: 0.5px;
  border: 1px solid #0984e3;
  background-color: #0984e3;
  box-shadow: 0px 0px 6px 2px #0984e3;
}

a {
  text-decoration: none;
  color: #271A56;
}

h1 {
  background: -webkit-linear-gradient(45deg, #0984e3, #b007a8, #32ab9c, #deac70);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color-change 3s infinite
}

p {
  font-size: 1.4rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 200px;
  color: #fff;
  background: linear-gradient(90deg, #08031F, #271A56);
  /* background: linear-gradient(-90deg, #0984e3, #b007a8, #32ab9c, #deac70 );
  background-size: 400% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite; */
  position: relative;
}

footer p {
  margin: 5px;
  font-weight: lighter;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  color: #fff;
  background-color: black;
  width: 100%;
}

.footer-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 20%;
  height: 100%;
  /* background-color: red; */
}

footer img {
  height: 1.5rem;
  width: 1.5rem;
}

@keyframes color-change {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

#glow-bar {
  display: flex;
  flex-flow: row;
  height: 0;
  width: 100%;
  box-shadow: 0px 0px 35px 20px rgba(9, 132, 227, 0.9);
  opacity: 0;
  }

@media (orientation: portrait) {
  /* hr {
    display: none;
  } */

  p {
    font-size: 1.25rem;
  }

  footer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-social-icons {
    width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  p {
    /* font-size: 1.25rem; */
  }

  footer {
    flex-direction: column-reverse;
      align-items: center;
  }

  .footer-social-icons {
    width: 100%;
  }
}
