html, body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  overflow-x: hidden;
}

hr {
  width: 50%;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #2d3436;
}

h1 {
  background: -webkit-linear-gradient(45deg, #0984e3, #b007a8, #32ab9c, #deac70);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color-change 3s infinite
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  color: #fff;
  background-color: black;
  width: 100%;
}

#glow-bar {
  display: flex;
  flex-flow: row;
  height: 0;
  width: 100%;
  box-shadow: 0px 0px 35px 20px rgba(9, 132, 227, 0.9);
  opacity: 0;
  }



@keyframes color-change {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
