* {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  font-family: 'Audiowide', sans-serif;
  overflow-x: hidden;
}


a {
  text-decoration: none;
  color: #271A56;
}


footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15em;
  color: #fff;
  background-color: #000000;
}

footer h3 {
  margin: 0;
}

footer p {
  margin: 5px;
  opacity: 0.5;
}

footer a {
  color: #fff;
  opacity: 0.5;
  margin-top: 5px
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(90deg, #1F0A34, #4026B6);
  color: #fff;
  overflow: hidden;   
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90%;
  width: 100%;
}

.footer-top-left {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
}

.footer-top-center {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  width: 33%;
  padding: 5px;
  font-size: .95rem;
  text-align: center;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
}


/* /// Media Queries /// */


@media (min-width: 1024px) {
  .footer-top-left {
    display: flex;
  }

  .footer-top-center {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    text-align: left;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 20px;
  }
}



@media (min-width: 2560px) {
  body {
    font-size: 1.7rem;
  }

  .footer-top-center {
    font-size: 1.7rem;
  }
}
