.logo {
  height: 80px;
  width: 80px;
  margin-left: 60px;
  background-image: url('../images/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.logo:hover {
  cursor: pointer;
}

/* //// Media Queries //// */

@media (orientation: portrait) {
	.logo {
		display: none;
	}
}


@media (orientation: landscape) and (max-width: 768px) {
  .logo {
		display: none;
	}
}
