.page-break {
  height: 3px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #08031F, #271A56);
  position: relative;
}

.page-break-inner {
  height: 100%;
  width: 40%;
  background: linear-gradient(45deg, #0984e3, #b007a8, #32ab9c, #deac70);
}
