.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 45em;
  flex-direction: column;
  margin: 0;
}

.project-left {
  border: 1px solid #0984e3;
  background-position: center;
  background-size: 96% 96%;
  background-repeat: no-repeat;
  height: 40%;
  width: 95%;
  margin: 1em 0 1em;
  cursor: pointer;
  border-radius: 20px;
}

.project-right {
  border: 1px solid #0984e3;
  background-position: center;
  background-size: 96% 96%;
  background-repeat: no-repeat;
  height: 40%;
  width: 95%;
  margin: 1em 0 1em;
  cursor: pointer;
  border-radius: 20px;
}

.project-left-content {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.project-right-content {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.project-right-content-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1rem;
  text-align: center;
  height: 50%;
  font-family: 'Montserrat', sans-serif;
}

.project-right-content-bottom {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-left-content-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1rem;
  text-align: center;
  height: 50%;
  font-family: 'Montserrat', sans-serif;
}

.project-left-content-bottom {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




@media (min-width: 768px) {
  .project-left {
    width: 70%;
  }

  .project-right {
    width: 70%;
  }
}


@media (min-width: 1024px) {
  .projects-container {
    height: 30em;
    flex-direction: row;
    margin: 2em 0 2em;
  }

  .project-left {
    height: 90%;
    width: 45%;
    margin: 0;
  }

  .project-right {
    height: 90%;
    width: 45%;
    margin: 0;
  }

  .project-left-content-top {
    font-size: 1.25rem;
    padding: 1em;
    height: 70%;
    text-align: left;
  }

  .project-right-content-top {
    font-size: 1.25rem;
    padding: 1em;
    height: 70%;
    text-align: left;
  }

  .project-right-content-bottom {
    height: 30%;
  }

  .project-left-content-bottom {
    height: 30%;
  }
}

@media (min-width: 1920px) {
  .projects-container {
    height: 40em;
  }
}

@media (min-width: 2560px) {
  .projects-container {
    height: 30em;
  }

  .project-left-content-top {
    font-size: 2rem;
  }

  .project-right-content-top {
    font-size: 2rem;
  }
}
