#projects-section {
  display: flex;
  flex-direction: row;
  height: 700px;
  width: 100%;
  position: relative;
  background-image: url('../images/background3.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.projects-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.projects-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.projects-left-inner {
  height: 60%;
  width: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #deac70;
  box-shadow: 0px 0px 30px 10px rgba(222, 172, 112, 0.9);
}

.projects-right-inner {
  height: 60%;
  width: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #deac70;
  box-shadow: 0px 0px 30px 10px rgba(222, 172, 112, 0.9);
}

.project-left-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.project-right-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.project-title {
  text-align: center;
  height: 10%;
  width:80%;
  margin-bottom: 10px;
}

@media (orientation: portrait) {
  #projects-section {
    flex-direction: column;
  }

  .projects-left {
    width: 100%;
  }

  .projects-left-inner {
    width: 90%;
  }

  .projects-right {
    width: 100%;
  }

  .projects-right-inner {
    width: 90%;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  #projects-section {
    flex-direction: column;
  }

  .projects-left {
    width: 100%;
  }

  .projects-left-inner {
    width: 90%;
  }

  .projects-right {
    width: 100%;
  }

  .projects-right-inner {
    width: 90%;
  }
}
