.single-project {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  border: 1px solid #32ab9c;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.4);
}


.single-project-top {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 100%;
  background-color: #32ab9c;
}

.project-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  height: 100%;
  width: 20%;
}

.project-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.project-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.technologies-used {
  height: 50%;
  width: 100%;
}

.technologies-used-top {
  display: flex;
  height: 30%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #2d3436;
}

.technologies-used-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70%;
  width: 100%;
  overflow: hidden;
}

.technologies-used-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 200%;
  justify-content: space-between;
  animation: animate 10s linear infinite;
}

@keyframes animate
{
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
}
