.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 2.2rem;
}

.color-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2px;
}

.color-bar-scroll-top {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  background: linear-gradient(90deg, #0984e3, #b007a8, #32ab9c, #deac70 );
  background-size: 100% 100%;
  -webkit-animation: animate2 3s linear infinite;
  -moz-animation: animate2 3s linear infinite;
  animation: animate 3s linear infinite;
}

.color-bar-scroll-bottom {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  background: linear-gradient(90deg, #0984e3, #b007a8, #32ab9c, #deac70 );
  background-size: 100% 100%;
  -webkit-animation: animate2 5s linear infinite;
  -moz-animation: animate2 5s linear infinite;
  animation: animate2 5s linear infinite;
}

@-webkit-keyframes animate {
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
}

@-moz-keyframes animate {
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
}

@keyframes animate
{
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
}

@-webkit-keyframes animate2 {
  0%
  {
    transform: translateX(100%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}

@-moz-keyframes animate2 {
  0%
  {
    transform: translateX(100%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}

@keyframes animate2
{
  0%
  {
    transform: translateX(100%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}


@media screen and (max-width: 320px) {
  .quote-container {
    text-align: center;
      font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .quote-container {
      font-size: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .quote-container {
      font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .quote-container {
      font-size: 1.5rem;
  }
}
