.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 100%;
  background-color: #fff;
  color: #2d3436;
}


.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.services p {
  font-size: 1.25rem;
}


.services-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
}

.services-details-card {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 400px;
  border: 1px solid #0984e3;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.4);
  z-index: 1;
}

.services-child {
  position: relative;
  height: 400px;
  width: 400px;
  border: 1px solid #0984e3;
  margin-left: 50px;
  margin-top: 50px;
  z-index: 2;
  background-color: rgba(9, 132, 227, 0.1);
}

.services-child:hover {
  margin-left: 0px;
  margin-top: 0px;
  background-color: transparent;
  transition: 0.35s;
}

.services-child:not( :hover) {
  margin-left: 50px;
  margin-top: 50px;
  transition: 0.35s;
}


/* /// Media Queries /// */


@media screen and (max-width: 320px) {
  .services-container {
    flex-direction: column-reverse;
    height: 1000px;
    margin-top: 30px;
  }

  .services {
    width: 100%;
  }

  .services-details {
    width: 100%;
  }

}

@media screen and (max-width: 375px) {
  .services-container {
    flex-direction: column-reverse;
    height: 1000px;
  }

  .services {
    width: 100%;
  }

  .services-details {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .services-container {
    flex-direction: column-reverse;
    height: 1000px;
  }

  .services {
    width: 100%;
  }

  .services-details {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .services-container {
    flex-direction: column-reverse;
    height: 1000px;
  }

  .services {
    width: 100%;
  }

  .services-details {
    width: 100%;
  }
}
