#skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: #2d3436;
  position: relative;
  overflow: hidden;
}


.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.services p {
  font-size: 1.25rem;
}


.services-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
}

.services-details-card {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  height: 500px;
  border: 1px solid #0984e3;
  border-radius: 300px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.4);
  z-index: 1;
}

.services-child {
  position: relative;
  height: 500px;
  width: 500px;
  border: 1px solid #0984e3;
  margin-left: 50px;
  margin-top: 50px;
  z-index: 2;
  background-color: rgba(9, 132, 227, 0.1);
  border-radius: 300px;
}

.services-child:hover {
  margin-left: 0px;
  margin-top: 0px;
  background-color: transparent;
  transition: 0.35s;
}

.services-child:not( :hover) {
  margin-left: 50px;
  margin-top: 50px;
  transition: 0.35s;
}




/* /// Media Queries /// */


@media (orientation: portrait) {
  .skills-container {
    flex-direction: column-reverse;
    height: 800px;
    margin-top: 30px;
  }

  .services {
    width: 100%;
  }

  .services-details {
    width: 100%;
  }

  .services-child {
    display: none;
  }

  .services-details-card {
    height: 50%;
    width: 100%;
    border: none;
    box-shadow: none;
  }

}

@media (orientation: landscape) and (max-width: 768px) {
  .skills-container {
    flex-direction: column-reverse;
    height: 800px;
    margin-top: 30px;
  }

  .services {
    width: 100%;
  }

  .services-details {
    width: 100%;
  }

  .services-child {
    display: none;
  }

  .services-details-card {
    height: 50%;
    width: 100%;
    border: none;
    box-shadow: none;
  }
}
