#single-project-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.project-hero {
  display: flex;
  flex-direction: row;
  height: 650px;
  width: 100%;
  background-color: #271A56;
  position: relative;
  overflow: hidden;
}

.project-hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-image: url('../images/background3.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.project-hero-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 50%;
  opacity: 0;
}

.project-image {
  height: 70%;
  width: 90%;
  border: 1px solid #deac70;
}

.bottom-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(90deg, #08031F, #271A56);
  height: 100%;
}

.project-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
  width: 100%;
  background: linear-gradient(90deg, #08031F, #271A56);
}

.project-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 33%;
  opacity: 0;
}

.tech-used {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 60%;
  margin-bottom: 10px;
}

.tech-logo {
  height: 100%;
  width: 20%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}

.tech-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}


/* /// Media Queries /// */


@media (orientation: portrait) {
  .project-hero {
    flex-direction: column-reverse;
    height: 700px;
    background: linear-gradient(90deg, #08031F, #271A56);
  }

  .project-hero-right {
    width: 100%;
    height: 50%;
  }

  .project-hero-left {
    width: 100%;
    height: 50%;
    background-size: auto 150%;
  }

  .bottom-block {
    display: none;
  }

  .project-content {
    flex-direction: column;
    height: 600px;
  }

  .project-info {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  .project-hero {
    flex-direction: column-reverse;
    height: 700px;
    background: linear-gradient(90deg, #08031F, #271A56);
  }

  .project-hero-right {
    width: 100%;
    height: 50%;
  }

  .project-hero-left {
    width: 100%;
    height: 50%;
    background-size: auto 150%;
  }

  .bottom-block {
    display: none;
  }

  .project-content {
    flex-direction: column;
    height: 600px;
  }

  .project-info {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
