.technologies-container {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 900px;
  width: 100%;
  background-color: #fff;
  color: #2d3436;
}

.technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 650px;
}

.technologies p {
  font-size: 1.25rem;
}

.technologies-top {
  height: 50%;
  width: 100%;
}

.technologies-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}


.technologies-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 650px;
}

.tech-image-parent {
  position: absolute;
  height: 500px;
  width: 500px;
  border: 1px solid #b007a8;
  z-index: 2;
  background-color: rgba(176, 7, 168,0.1);
  border-radius: 300px;
}

.tech-image-child {
  position: relative;
  height: 500px;
  width: 500px;
  border: 1px solid #b007a8;
  margin-left: 50px;
  margin-top: 50px;
  z-index: 1;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.4);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 300px;
}

.tech-image-parent:hover {
  margin-left: 50px;
  margin-top: 50px;
  transition: 0.35s;
  background-color: rgba(0,0,0,0.0);
}

.tech-image-parent:not( :hover) {
  margin-left: 0px;
  margin-top: 0px;
  transition: 0.35s;
}


/* /// Media Queries /// */

@media screen and (max-width: 320px) {
  .technologies-container {
    flex-direction: column;
    height: 500px;
    margin-top: 30px;
  }

  .technologies {
    width: 100%;
    height: 400px;
  }

  .technologies-details {
    width: 100%;
    height: 20%;
  }

  .technologies-top {
    height: 100%;
  }

  .technologies-bottom {
    display: none;
  }

  .tech-image-parent {
    display: none;
    border-radius: 0px;
  }

  .tech-image-child {
    height: 100%;
    width: 95%;
    margin-left: 0px;
    margin-top: 0px;
    box-shadow: none;
    border: none;
    border-radius: 0px;
  }
}

@media screen and (max-width: 375px) {
  .technologies-container {
    flex-direction: column;
    height: 500px;
  }

  .technologies {
    width: 100%;
    height: 400px;
  }

  .technologies-details {
    width: 100%;
    height: 20%;
  }

  .technologies-top {
    height: 100%;
  }

  .technologies-bottom {
    display: none;
  }

  .tech-image-parent {
    display: none;
    border-radius: 0px;
  }

  .tech-image-child {
    height: 100%;
    width: 95%;
    margin-left: 0px;
    margin-top: 0px;
    box-shadow: none;
    border: none;
    border-radius: 0px;
  }
}

@media screen and (max-width: 425px) {
  .technologies-container {
    flex-direction: column;
    height: 500px;
  }

  .technologies {
    width: 100%;
    height: 400px;
  }

  .technologies-details {
    width: 100%;
    height: 20%;
  }

  .technologies-top {
    height: 100%;
  }

  .technologies-bottom {
    display: none;
  }

  .tech-image-parent {
    display: none;
    border-radius: 0px;
  }

  .tech-image-child {
    height: 100%;
    width: 95%;
    margin-left: 0px;
    margin-top: 0px;
    box-shadow: none;
    border: none;
    border-radius: 0px;
  }
}

@media screen and (max-width: 768px) {
  .technologies-container {
    flex-direction: column;
    height: 500px;
  }

  .technologies {
    width: 100%;
    height: 400px;
  }

  .technologies-details {
    width: 100%;
    height: 20%;
  }

  .technologies-top {
    height: 100%;
  }

  .technologies-bottom {
    display: none;
  }

  .tech-image-parent {
    display: none;
    border-radius: 0px;
  }

  .tech-image-child {
    height: 100%;
    width: 95%;
    margin-left: 0px;
    margin-top: 0px;
    box-shadow: none;
    border: none;
    border-radius: 0px;
  }
}
