#technologies-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  width: 100%;
  position: relative;
  background-color: #2d3436;
  overflow: hidden;
}

.technologies-container-content {
  display: flex;
  flex-direction: row;
}

.technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 650px;
}

.technologies p {
  font-size: 1.25rem;
}

.technologies-top {
  height: 40%;
  width: 100%;
}

.technologies-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}


.technologies-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.tech-image-parent {
  position: absolute;
  height: 500px;
  width: 500px;
  border: 1px solid #b007a8;
  z-index: 2;
  background-color: rgba(176, 7, 168,0.1);
  border-radius: 300px;
}

.tech-image-child {
  position: relative;
  height: 500px;
  width: 500px;
  border: 1px solid #b007a8;
  margin-left: 50px;
  margin-top: 50px;
  z-index: 1;
  box-shadow: 0 0 50px 10px rgba(176, 7, 168,0.9);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 300px;
}

.tech-image-parent:hover {
  margin-left: 50px;
  margin-top: 50px;
  transition: 0.35s;
  background-color: rgba(0,0,0,0.0);
}

.tech-image-parent:not( :hover) {
  margin-left: 0px;
  margin-top: 0px;
  transition: 0.35s;
}


/* /// Media Queries /// */

@media (orientation: portrait) {
  #technologies-section {
    flex-direction: column;
    height: 650px;
  }

  .technologies {
    width: 100%;
    height: 400px;
  }

  .technologies-container-content {
    flex-direction: column;
  }

  .technologies-details {
    width: 100%;
    height: 200px;
  }

  .technologies-top {
    height: 100%;
  }

  .technologies-bottom {
    display: none;
  }

  .tech-image-parent {
    display: none;
    border-radius: 0px;
  }

  .tech-image-child {
    height: 100%;
    width: 95%;
    margin-left: 0px;
    margin-top: 0px;
    box-shadow: none;
    border: none;
    border-radius: 0px;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  #technologies-section  {
    flex-direction: column;
    height: 650px;
  }

  .technologies {
    width: 100%;
    height: 400px;
  }

  .technologies-details {
    width: 100%;
    height: 100px;
  }

  .technologies-container-content {
    flex-direction: column;
  }

  .technologies-top {
    height: 100%;
  }

  .technologies-bottom {
    display: none;
  }

  .tech-image-parent {
    display: none;
    border-radius: 0px;
  }

  .tech-image-child {
    height: 100%;
    width: 95%;
    margin-left: 0px;
    margin-top: 0px;
    box-shadow: none;
    border: none;
    border-radius: 0px;
  }
}
